<app-request-view [request]="request">
</app-request-view>
<!-- <table class="mat-table">
  <tbody>
    <tr class="mat-header-row ">
      <th class="mat-header-cell" role="columnheader"> Response </th>
    </tr>
    <tr class="mat-header-row ">
      <td class="mat-cell cdk-column-fechaInicio mat-column-fechaInicio ng-tns-c5-15 " role="gridcell"> {{request.PACResponse}} </td>
    </tr>
  </tbody>
</table>
-->
<mat-card class="card-container center-data">
  <mat-card-title>
    Response
  </mat-card-title>
  <form class="flex-col" #finalResponse="ngForm">
    <mat-form-field class="full-width">
      <textarea name="PACReason" matInput placeholder="Reason" [(ngModel)]="request.PACHRResponse" required></textarea>
    </mat-form-field>
    <div class="btn-group">
      <button mat-raised-button type="button" color="primary" [disabled]="!finalResponse.valid" (click)="approve()">Approve</button>
      <button mat-raised-button type="button" color="warn" [disabled]="!finalResponse.valid" (click)="deny()">Deny</button>
    </div>
  </form>
</mat-card>