<mat-card class="example-card">
    <mat-card class="example-card">
        <app-request-view [request]="requestToRespond">
        </app-request-view>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-title>
            Response
        </mat-card-title>
        <form class="flex-col">
            <mat-form-field class="example-full-width">
                <textarea name="PACReason" matInput placeholder="Reason" [(ngModel)]="response.PACResponseReason" required></textarea>
            </mat-form-field>
            <div class="btn-group">
                <button mat-raised-button (click)="sendBack()">Send back</button>
                <button mat-raised-button color="primary" (click)="approve()">Approve</button>
                <button mat-raised-button color="warn" (click)="deny()">Deny</button>
            </div>
        </form>
    </mat-card>
</mat-card>