<mat-card class="card-container center-data">
  <mat-card-title>
    Create a Request
  </mat-card-title>
  <form class="flex-col" (ngSubmit)="sendRequest()" #requestForm="ngForm">
    <mat-form-field class="flex-row">
      <mat-select name="pacRequestType" placeholder="Type of Request" [(ngModel)]="request.PACRequestType" required>
        <mat-option *ngFor="let typeRequest of requestTypes" [value]="typeRequest">{{typeRequest}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex-row">
      <mat-form-field class="col-6">
        <input name="pacDateFrom" matInput [matDatepicker]="pickerStart" [(ngModel)]="request.PACDateFrom" placeholder="Start Date" required>
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-6">
        <input type="text" name="pacHourFrom" matInput placeholder="Start Hour"  pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" [(ngModel)]="request.PACHourFrom" required>
      </mat-form-field>
    </div>

    <div class="flex-row">
      <mat-form-field class="col-6">
        <input name="pacDateFrom" matInput [matDatepicker]="pickerFinish" [(ngModel)]="request.PACDateTo" placeholder="Finish Date" required>
        <mat-datepicker-toggle matSuffix [for]="pickerFinish"></mat-datepicker-toggle>
        <mat-datepicker #pickerFinish></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-6">
        <input  type="text" name="pacHourTo" matInput placeholder="Finish Hour " pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" [(ngModel)]="request.PACHourTo" required>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-row">
      <textarea name="pacReason" matInput placeholder="Reason" [(ngModel)]="request.PACReason"></textarea>
    </mat-form-field>



    <mat-form-field class="flex-row">
      <input type="text" name="pacsendTo" matInput placeholder="Send Request To" aria-label="Manager" [matAutocomplete]="auto" [formControl]="requestToCtrl" required >
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="optionSelected($event)">
        <mat-option *ngFor="let manager of managers" [value]="manager" (onSelect)="selected(manager)">
          {{manager.Name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="flex-row">
      <button type="button" mat-raised-button (click)="imgFileInput.click()">Add Attachment</button>
      <input name="attachment" hidden type="file" #imgFileInput (change)="uploadFile()"  multiple />
    </div>

    <mat-list>
      <mat-list-item *ngFor="let attachment of request.Attachments; let index = index">
          <a *ngIf="attachment.savedOnSharepoint; else elseBlock" (click)="openAttachment(attachment)">{{attachment.fileName}}</a>
          <ng-template #elseBlock>{{attachment.fileName}}</ng-template>
        <span class="fill-space"></span>
        <button type="button" (click)="removeAttachment(index)" mat-icon-button>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <div class="flex-row" *ngIf="request.Id">
      <p>{{request.PACResponse}}</p>
    </div>


    <button mat-raised-button color="primary" type="submit" [disabled]="!requestForm.form.valid">Send Request</button>
  </form>

</mat-card>