.flex-col {
   /* min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  flex-flow: row wrap;
}

.col-6 {
  width: 50%;
}

.example-card {
  margin: 5px;
  text-align: center;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.example-full-width {
  width: 100%;
}


