.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.example-full-width {
  width: 100%;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}