<table class="mat-table">
  <tbody>
    <tr class="mat-header-row ">
      <th class="mat-header-cell" role="columnheader"> Requester </th>
      <th class="mat-header-cell   " role="columnheader"> Email </th>
    </tr>
    <tr class="mat-header-row ">
      <td class="mat-cell cdk-column-fechaInicio mat-column-fechaInicio ng-tns-c5-15 " role="gridcell"> {{author.Name}} </td>
      <td class="mat-cell cdk-column-fechaInicio mat-column-fechaInicio ng-tns-c5-15 " role="gridcell"> {{author.Email}} </td>
    </tr>
    <tr class="mat-header-row ">
      <th class="mat-header-cell" role="columnheader"> Start Day </th>
      <th class="mat-header-cell" role="columnheader"> Start Hour </th>
    </tr>
    <tr class="mat-header-row ">
      <td class="mat-cell cdk-column-fechaInicio mat-column-fechaInicio ng-tns-c5-15 " role="gridcell"> {{request.PACDateFrom | date}} </td>
      <td class="mat-cell cdk-column-fechaInicio mat-column-fechaInicio ng-tns-c5-15 " role="gridcell"> {{request.PACHourFrom}} </td>
    </tr>
    <tr class="mat-header-row ">
      <th class="mat-header-cell" role="columnheader"> Finish Day </th>
      <th class="mat-header-cell" role="columnheader"> Finish Hour </th>
    </tr>
    <tr class="mat-header-row ">
      <td class="mat-cell cdk-column-fechaInicio mat-column-fechaInicio ng-tns-c5-15 " role="gridcell"> {{request.PACDateTo | date}} </td>
      <td class="mat-cell cdk-column-fechaInicio mat-column-fechaInicio ng-tns-c5-15 " role="gridcell"> {{request.PACHourTo}} </td>
    </tr>
  </tbody>
</table>
<table class="mat-table">
  <tbody>
    <tr class="mat-header-row">
      <th class="mat-header-cell   " role="columnheader"> Reason </th>
    </tr>
    <tr class="mat-header-row ">
      <td class="mat-cell" role="gridcell">
        {{request.PACRequestType}}: {{request.PACReason}}
      </td>
    </tr>
    <tr class="mat-header-row">
      <th class="mat-header-cell   " role="columnheader"> Attachments </th>
    </tr>
    <tr class="mat-header-row"  *ngFor="let attachment of request.Attachments">
      <td class="mat-cell" role="gridcell" > {{attachment.fileName}} </td>
    </tr>
  </tbody>
</table>